
 <div class="avatar">
  <img src = "assets/img/avatar.png" alt="Avatar">
 </div>
 
 <div class="user-details">
  <p> {{site.user_description}} </p>
 </div>

<div class="user">
  <div class="tech">
    <h2>Research</h2>
    <i class="fa-solid fa-brain custom-icon"></i>
    <i class="fa-solid fa-comments custom-icon"></i>
    <i class="fa-solid fa-code-branch custom-icon"></i>
    <p>My research focuses on brain engineering using machine learning, NLP applications, including chatbots and voicebots, and healthcare data analysis. Additionally, I hold three patents and have a paper published in an international journal, all based on these research areas.</p>
  </div>
  <div class="tech">
    <h2>Language</h2>
    <i class="devicon-python-plain custom-icon"></i>
    <i class="devicon-mysql-plain-wordmark custom-icon"></i>
    <i class="devicon-matlab-plain custom-icon"></i>
    <p>I am skilled in Python and SQL, which I used extensively for developing a healthcare application and analyzing NLP projects. Additionally, my academic research experience has made me proficient in MATLAB and R. I also enjoy designing and customizing my own websites using HTML and JavaScript.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain custom-icon"></i>
    <i class="devicon-pytorch-original custom-icon"></i>
    <i class="devicon-tensorflow-original custom-icon"></i>
    <p>To implement deep learning and AI algorithms, I primarily use PyTorch and TensorFlow. For collaboration and development, I rely on Git and Docker. When developing chatbots and voicebots, I utilized GCP and AWS for cloud computing, managing application maintenance through services like autoscaling and database management.</p>
  </div>
</div>

<div class="resume-container">
    <a href="https://github.com/boram-emma/projects/blob/8622638e59b0c1f6cc74311f5c0c6b344b1dc13c/Resume/Resume_BoramLee_1.13.pdf" 
        class="resume-link" 
        target="_blank">Link to Resume</a>
</div>
